.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(67, 73, 75);
  color:white;
}

.nav-links{
  width: 50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

