.aboutme {
    margin:200px;

}


.aboutme-p{
    margin: 30px;
}

.font-link {
    font-family: 'Raleway', sans-serif;

  }

.contactH1{
    margin: 50px;
}

.aboutmeH1{
    margin: 50px;
}

@media screen and (max-width: 960px) {
    .aboutme{
        margin:0px;
    }
}

@media screen and (max-width: 760px) {
    .aboutme{
        margin:0px;
    }
}